# Virtual Environment
venv/
*.venv
env/
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Streamlit cache
.streamlit/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Matplotlib
*.png

# Misc
.DS_Store
*.log